<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>

    <nav>
        <a class="actor_tab" data-tab="resume">Résumé</a>
        <a class="actor_tab" data-tab="inventory">Inventaire</a>
        <a class="actor_tab" data-tab="lore">Histoire</a>
    </nav>
</form>

