<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/></h1>
            <div class="abilities flexcol">
                <div class="ability flexrow flex-group-center">
                    <label for="system.progression.level" class="resource-label" >Niveau: </label>
                    <input name="system.progression.level" type="text" value="{{system.progression.level}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="abilities flexcol">
                <div class="ability flexrow flex-group-center">
                    <label for="system.progression.specialisation" class="resource-label">Spécialisation: </label>
                    <input name="system.progression.specialisation" type="text" value="{{system.progression.specialisation}}" data-dtype="str"/>
                </div>
            </div>
            
            {{#each system.mechanics.ressources as |ress key|}}
            {{#if ress.display}}
            <div class="abilities flexcol">
                <div class="ability flexrow flex-group-center">
                    <label for="system.mechanics.ressources.{{key}}" class="resource-label">{{ress.label}}: </label>
                    <input type="text" name="system.mechanics.ressources.{{key}}.current" value="{{ress.current}}" data-dtype="Number"/>
                    <span> / </span>
                    <span>{{ress.value}}</span>
                </div>
            </div>
            {{/if}}
            {{/each}}
            
            <div class="row">
                <div class="column">
                    <p>Armes équipées:</p>
                    {{#each arsenal as |item key|}}
                    {{#if item.value}}
                    <p>{{item.object.name}}</p>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="column">
                    <select name="system.selectedStance" >
                        {{#select system.selectedStance}}
                        {{#each system.stances as |name id|}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="features">Résumé</a>
        <a class="item" data-tab="inventory">Inventaire</a>
        <a class="item" data-tab="spells">Compétences</a>
        <a class="item" data-tab="lore">Histoire</a>
        <a class="item" data-tab="settings">Paramètres</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features active" data-group="primary" data-tab="features">{{>"systems/parallea/templates/navTabs/actor/playerFeatures.html"}}</div>
        <div class="tab inventory" data-group="primary" data-tab="inventory">{{>"systems/parallea/templates/navTabs/actor/playerInventory.html"}}</div>
        <div class="tab lore" data-group="primary" data-tab="spells">{{>"systems/parallea/templates/navTabs/actor/playerSpells.html"}}</div>
        <div class="tab lore" data-group="primary" data-tab="lore">{{>"systems/parallea/templates/navTabs/actor/playerLore.html"}}</div>
        <div class="tab settings" data-group="primary" data-tab="settings">{{>"systems/parallea/templates/navTabs/actor/playerSettings.html"}}</div>
    </section>
</form>
