<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    
    <div>
        <table>
            <tr>
                <th>{{localize 'parallea.runeType.fire'}}</th>
                <th>{{localize 'parallea.runeLevel.major'}}</th>
                <th>{{localize 'parallea.test'}}</th>
                <th>{{localize 'parallea.table.lore'}}</th>
                <th>{{localize 'parallea.ACTOR.TypeCritter'}}</th>
            </tr>
            
            <tr>

            </tr>

        </table>
        <nav>
            <a></a>
            <a></a>
            <a></a>
        </nav>
    </div>
</form>


