<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    
    <div>
        <table>
            <tr>
                <th>{{localize 'parallea.sheet_display.weapon.rune'}}</th>
                <th>{{localize 'parallea.sheet_display.weapon.dice_damage'}}</th>
                <th>{{localize 'parallea.sheet_display.weapon.runable'}}</th>
                <th>{{localize 'parallea.table.lore'}}</th>
                <th>{{localize 'parallea.ACTOR.TypeCritter'}}</th>
            </tr>
            
            <tr>
                <td>
                    <select name="data.rune_type" >
                        {{#select data.rune_type}}
                        {{#each config.rune_type as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.dice_damage" type="text" value="{{data.dice_damage}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.runable" type="checkbox" {{checked data.runable}} />
                </td>
            </tr>
            
        </table>
        <script>var loc = window.location.pathname;
            console.log(loc);
        </script>
        <nav>
            <a href="systems/parallea/template/test.html">{{localize 'parallea.table.character'}}</a>
            <a href="test.html">{{localize 'parallea.table.inventory'}}</a>
            <a href="./test.html">{{localize 'parallea.table.lore'}}</a>
            <a></a>
        </nav>
    </div>
</form>


