<table>
    <tr>
        <th>{{system.attack.phy.label}}</th>
        <th>{{system.attack.ran.label}}</th>
        <th>{{system.attack.mag.label}} </th>
    </tr>
    
    <tr>
        <td><input name="system.attack.phy.base" type="text" value="{{system.attack.phy.base}}" data-dtype="Number" /></td>
        <td><input name="system.attack.ran.base" type="text" value="{{system.attack.ran.base}}" data-dtype="Number" /></td>
        <td><input name="system.attack.mag.base" type="text" value="{{system.attack.mag.base}}" data-dtype="Number" /></td>
    </tr>
</table>