<table>
    <tr>
        <th>Défense</th>
        <th>Armure</th>
        <th>Résistance magique</th>
        <th>{{system.attack.global.label}}</th>
    </tr>
    
    <tr>
        <td><input name="system.defense.base" type="text" value="{{system.defense.base}}" data-dtype="Number" /></td>
        <td><input name="system.arm.base" type="text" value="{{system.arm.base}}" data-dtype="Number" /></td>
        <td><input name="system.mr.base" type="text" value="{{system.mr.base}}" data-dtype="Number" /></td>
        <td><input name="system.attack.global.base" type="text" value="{{system.attack.global.base}}" data-dtype="Number" /></td>
    </tr>
</table>
<p>Descritpion de l'armure:</p>
<textarea name = "system.description">{{system.description}}</textarea>