<table>
    <tr>
        <th>Base d'attaque</th>
        <th>Dé de dégat</th>
        <th>Nombre de dés de dégat</th>
    </tr>
    
    <tr>
        <td>    
            <input name="system.attack_bonus.bonus" type="text" value="{{system.attack_bonus.bonus}}" data-dtype="Number" />
        </td>
        <td>
            <input name="system.damage_roll_bonus.dice_damage" type="text" value="{{system.damage_roll_bonus.dice_damage}}" data-dtype="Number" />
        </td>
        <td>
            <input name="system.damage_roll_bonus.dice_number" type="text" value="{{system.damage_bonus.bonus}}" data-dtype="Number" />
        </td>
    </tr>
</table>
<p>Descritpion de l'attaque:</p>
<textarea name = "system.description">{{system.description}}</textarea>