<div class="flexcol">
    <div class="flexrow flex-group-center">
        <label for="system.damage.dice_number" class="flexrow">Dés supplémentaires (nombre) : </label>
        <input name = "system.damage.dice_number" type="text" value="{{system.damage.dice_number}}" data-dtype="Number" />
    </div>
    <div class="flexrow flex-group-center">
        <label for="system.damage.multiplier" class="flexrow">Multiplicateur de bonus : </label>
        <input name = "system.damage.bonus_multiplier" type="text" value="{{system.damage.bonus_multiplier}}" data-dtype="Number" />
    </div>
</div>
<br>
<p>Effets:</p>
{{#each system.special as |special key|}}
<div class="flexcol">
    <div class="flexrow flex-group-center">
        <label for="system.special.{{key}}.value" class="flexrow">{{special.label}}: </label>
        <input name = "system.special.{{key}}.value" type="checkbox" {{checked special.value}}/>
    </div>
</div>
{{/each}}