<table>
    <tr>
        <th>{{system.attack.phy.label}}</th>
        <th>{{system.attack.ran.label}}</th>
        <th>{{system.attack.mag.label}} </th>
    </tr>
    
    <tr>
        <td>
            <input name="system.attack.phy.bonus" type="text" value="{{system.attack.phy.bonus}}" data-dtype="Number" />
        </td>
        <td>
            <input name="system.attack.ran.bonus" type="text" value="{{system.attack.ran.bonus}}" data-dtype="Number" />
        </td>
        <td>
            <input name="system.attack.mag.bonus" type="text" value="{{system.attack.mag.bonus}}" data-dtype="Number" />
        </td>
    </tr>
</table>