<table>
    <tr>
        {{#each system.attributs as |attribut key|}}
        <th><span class="ability-mod rollable" data-roll="d100+@attributs.{{key}}.value" data-label="{{attribut.label}}">{{attribut.label}}</span></th>
        {{/each}}
    </tr>

    <tr>
        {{#each system.attributs as |attribut key|}}
        <th class="flex-group-center">
            <input name="system.attributs.{{key}}.value" type="text" value="{{attribut.value}}" data-dtype="Number" min="10" max="90"/>
            
            </th>
        {{/each}}
        
    </tr>
</table>    
