<p>Résumé</p>

<table>
    <tr>
        <th>Force</th>
        <th>Dextérité</th>
        <th>Intelligence</th>
        <th>Sagesse</th>
        <th>Discrétion</th>
        <th>Charisme</th>
    </tr>

    <tr>
        <th><input name="system.attributs.str" type="text" value="{{system.attributs.str}}" data-dtype="Number" min="10" max="90"/></th>
        <th><input name="system.attributs.dex" type="text" value="{{system.attributs.dex}}" data-dtype="Number" min="10" max="90"/></th>
        <th><input name="system.attributs.int" type="text" value="{{system.attributs.int}}" data-dtype="Number" min="10" max="90"/></th>
        <th><input name="system.attributs.wis" type="text" value="{{system.attributs.wis}}" data-dtype="Number" min="10" max="90"/></th>
        <th><input name="system.attributs.stl" type="text" value="{{system.attributs.stl}}" data-dtype="Number" min="10" max="90"/></th>
        <th><input name="system.attributs.cha" type="text" value="{{system.attributs.cha}}" data-dtype="Number" min="10" max="90"/></th>
    </tr>
</table>    